beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
dateparser==0.7.4
idna==2.9
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tzlocal==2.1
urllib3==1.26.5
webdriver-manager==2.5.3
